/*font-family: 'Baloo Bhai 2', cursive;
font-family: 'Roboto', sans-serif;*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidenav {
  height: 852px;
  width: 132px;
  position: fixed;
  border-radius: 24px;
  top: 24.02px;
  left: 32.34px;
  background: #0C0B0B;
  display: flex;
  flex-direction: column ;
  align-items: center;

 
}

.sidenav img {
  margin-top: 20px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
   margin: 20px auto 50px auto;
}

.sair{
  margin-top:100px ;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/***********************************************************/

.into {
  margin-left: 250px; 
  font-size: 28px; 
  padding: 0px 10px;
  
  
  
}

.hello{
  display: flex;
  background-color: #F5F5F7;
  position: absolute;
  width: 620px;
  height: 160px;
  left: 236.32px;
  top: 55.25px;
  border-radius: 14px;
}

.texto h1{
font-size: 36px;
Width: 178px;
Height: 57px;
Top: 101.67px;
Left:267.82px;
line-height: 57.38px;
font-family: 'Baloo Bhai 2', cursive, serif;

margin: 46.42px 410.5px 56.58px 31.5px;
}


.texto p{
  position: relative;
  bottom: 100px;
  Width: 185px;
  Height: 24px;
  Top: 151,14px;
  Left: 267,82px;
  font-size: 16px;
  font-weight: 24px;
  font-family: 'Roboto', sans-serif;
  margin: 95.89px 403.5px 40.11px 31.5px;

}

.avatar img{
  position: relative;
  right: 252px;
  bottom: 30px;
}

/********************************************/

.sub{
  display: flex;
  position: absolute;
  width: 620px;
  height: 80px;
  left: 236px;
  top: 239.34px;
  
}

.sub-curso{
  display: flex;
  flex-direction: row;
  width: 500.26px;
  height: 80px;
  background-color: #F5F5F7;
  border-radius: 14px;

}

.bandeira{
  background-color: white;
  width: 64px;
  height: 64px;
  margin: 8px 24px 8px 8.5px;
  border-radius: 12px;
}

.bandeira img{
margin: 16px;
}

.sub-texto{
  margin-top:18.95px ;
  height: 60px;
  
 
  

}

.sub-texto h1{
  font-size: 16px;
  font-weight: 700;
  font-family: 'Baloo Bhai 2', cursive;
}

.sub-texto p{
  font-size: 13px;
  line-height: 15.23px;
  font-family: 'Roboto', sans-serif;
 

}

/*********/

.graph {
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  fill: transparent;
  stroke-width: 5px;
  stroke: #ddd;
  margin-top: 5px;
  margin-left: 30px;

}

.counter{
  margin-left: 10px;
  margin-bottom: 15px;
  font-weight: 400;
}



:root {
  --size: 255;
}

.graph svg.cor {
  stroke: rgb(0, 0, 0);
  stroke-dasharray: 335;
  stroke-dashoffset: calc(var(--size) - 25.42);
  transform: rotate(-20deg);
  transform-origin: center;
  
}

.continue{
  position: relative;
  top:20px;
  width: 120px;
  height: 40px;
  background-color: #0C0B0B;
  color: white;
  border-radius: 8px;
  border: none;
 
}

.continue:hover{
  background-color: #2c2c2c;
}


.continue p{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}
/********************************/


.setas{
  margin-top: 21.83px;
  margin-left: 23.64px;
}

.setas img{
  width: 40px;
  height: 40px;
}

.seta1{
  margin-right: 8.2px;
}

/***************************************/
.sub2{
  position: absolute;
  left: 236px;
  
  margin-top: 350px;
 border: 1px solid black;
}

.sub2 h2{
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 24px;
line-height: 38px;
margin-bottom: 16.24px;
}


.subnav {
  display: flex;
  list-style: none;
}



.subnav h3{
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 16px;
  font-weight: bold;
  line-height: 25.5px;
  margin-right: 29.71px;
}

.desativo{
  color:#a7a5a5 ;
}

.cursos{
  display: flex;
  flex-direction: row;
  width: 620px;
  height: 80px;
  background-color: #F5F5F7;
  border-radius: 14px;
}

.cimg{
  background-color: white;
  width: 64px;
  height: 64px;
  margin: 8px 24px 8px 8.5px;
  border-radius: 12px;
  
}

.cimg img{
margin:16px;

}

.time{
  display: flex;
  align-items: center;
  margin-left: 57.55px;
}

.time p{
  font-size: 13px;
  margin-left: 7.96px;
  font-family: 'Roboto', sans-serif;
}

.ofenciva{
  display: flex;
  align-items: center;
  margin-left: 40.78px;
}

.ofenciva p{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin-left: 10px;
}

.ofenciva img{
  margin-bottom: 5px;
}

.vcurso{
  width: 120px;
  height: 40px;
  margin-top: 20px;
  margin-left: 31.61px;
  border: 2px solid #0C0B0B;
  border-radius: 8px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}



